<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %> 
<link rel="stylesheet" href="Content/contact.css">
  <!-- Main Content -->
  <div class="container">
    <div class="inner">
      <div class="panel panel-left">
        <div class="panel-content">
          <div class="image-background">
          
          </div>
        </div>
      </div>
      <div class="panel panel-right">
        <div class="panel-content">
          <div class="form">
            <P style="color: white; font-size:x-small;">My Contact Info: </P> 
            <p style="color: white; font-size:x-small;">Remedios Meneses | 6474586958 | remedios8meneses@gmail.com</P>
            <h1>Leave Contact Details</h1>
            <div class="group">      
              <input type="text" required>
              <span class="highlight"></span>
              <label>FirstName</label>
            </div>
            <div class="group">      
              <input type="text" required>
              <span class="highlight"></span>
              <label>LastName</label>
            </div>
            <div class="group">      
              <input type="text" required>
              <span class="highlight"></span>
              <label>Contact Number</label>
            </div>
            <div class="group">      
              <input type="text" required>
              <span class="highlight"></span>
              <label>Your email</label>
            </div>
            <div class="group">      
              <input type="text" required>
              <span class="highlight"></span>
              <label>Message</label>
            </div>
            <a href="/" class="send-btn">Send</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu"></div>
  
  
